/* a:link{text-decoration: none;}
a:hover{text-decoration: underline;} */
/*first use link then hover otherwise it doesn't work*/
/* LINK-VISITED first then HOVER-ACTIVE must be used*/
a:link,a:visited{
    background-color: white;
    color: blueviolet;
    border: 2px solid red;
    /* border-top-style: dotted; */
    font-style: italic;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

a:hover,a:active{
    background-color: black;
    color: white;
    font-style: normal;
    
}

div ul{
    list-style-image: url(./featured.png);
    
}