* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(https://media.istockphoto.com/id/1406720334/photo/wooden-countertop-with-blurred-kitchen-utensils-and-furniture-interior-background.webp?b=1&s=612x612&w=0&k=20&c=Pk-Fsjpc7ekVK4HSlUZO67Uv3oyQ0If3DtcHTpaU5SY=);
    background-size: cover;
    background-position: center;
    
}

nav {
    width: 100%;
    padding: 10px;
}
.logo {
    margin: 20px;
    padding: 20px;
}

.main-menu {
    float: right;
}

.main-menu ul {
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
    list-style: none;
}

.main-menu ul li {
    margin-left: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.main-menu ul li a {
    text-decoration: none;
    position: relative;
    color: blueviolet;
}

.main-menu ul li a:hover {
    color: coral;
}

.recipies ul {
    text-align: center;
}

.recipies ul li  {
    margin: 10px;
}

.recipies ul li a {
    display: inline-block;
}