*{
    margin: 0;
    padding: 0;
}

#top{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    
}

header a{
    /* text-align: center; */
    text-decoration: none;
}

.nefis{
    font-size: 40px;
    color: rgba(255, 0, 0, 0.79);
}

.search{
    width: 500px;
}

.tarif{
    border: 30px;
    border-radius: 10px;
}




























































































/* *{
    margin: 0;
    padding: 0;
}
.div-header{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
   
}

.div-header a{
       background-color: rgba(255, 0, 0, 0.711);
       color: white;
       border:30px;
       padding: 20px;
       
}}
.div-header span{
    text-align: left;
}

.site{
    /* position: fixed; */
    text-align: left;
    width: 30px;
}

.secim{
    margin-top: 30px;
}
.form{
    margin: 25px;
     */