*{
    margin: 0;
    padding: 0;
}

nav{
   
    border: 10px;
}
.nav-ul{
    font-family: 'Dancing Script', cursive;
    list-style-type: none;
    border-radius: 10px;
    background-color: orange;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background: transparent;
    
   
}

nav-ul:hover{
    color: white;
}

.body-div1{
    background-image: url(./images/avenue-815297_1280.jpg);
    height: 89.4vh;
    background-size: cover;
    
}



p {
    font-family: 'Bangers', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
}

.article-img {
    
}