*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2016/02/17/19/08/lotus-1205631_1280.jpg);
    background-size: cover;
    /* background-position: center; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-bar {
    background-color: pink;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: purple;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: orangered;
}

.active, .menu-bar ul li:hover {
     background-color: blueviolet;
     border-radius: 5px;
}

.menu-bar .fa-solid {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: pink;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted orchid;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li :last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: antiquewhite;
}